<?xml version="1.0"?>

<model>
  <name>door_70_open</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Josef Chytry</name>
    <email>xchytr01@vutbr.cz</email>
  </author>

  <description>
	Open door 70 with ventilation grid set in door jamb 70
  </description>
</model>